* {
    margin: 0;
    padding: 0;
    font-family: Calibri, Verdana, Geneva, sans-serif;
    text-decoration: none; /* Elimina a formatação padrão dos links. Ex.: sublinhados, etc */
}

/*PONTEIRO*/
.pointer {
    cursor: pointer;
}

/*FORMATAÇÃO DA BARRA VERTICAL*/
.barra_vertical {
    z-index: 2;
    background-color: #424242;
    box-shadow: 0px 0px 3px #838282;
    position: fixed;
    width: 12.5em;
    height: 100%; /*ajusta automaticamente à altura da página*/
}

#logo_system {
    z-index: 1;
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-left: 0.5em;
    width: 12em;
    height: auto;
    display: flex;
}

.div_id {
    /*background-color: #1C1C1C;*/
    margin-top: 0.6em;
    margin-left: -0.2em;
    padding: 0.5em; 
    width: auto; 
    font-size: 1em;
    text-align: center;
}

#div_id_no_log {
    background-color: #1C1C1C;
    color: #01DFA5;
}

#div_id_log {
    color: rgb(223, 211, 46);
}

#img_block {
    z-index: 5;
    margin-top: 1.3em;
    margin-left: 2.45em;
    width: 7.3em;
    height: auto;
}

#logout_icon {
    z-index: 5;
    margin-top: 0.3em;
    width: 1.5em;
    height: auto;
}

/*FORMATAÇÃO DO MENU VERTICAL*/
span {
    background-color: none;
    font-size: 13px;
}

#active {
    background-color: #1C1C1C;
    color: #01DFA5;
}

.menu_enable {
    background-color: #424242;
}

.sub_menu_enable {
    display: block;
    padding-left: 2em;
}

.sub_menu_desable {
    display: none;
}

nav {
    padding-top: 0.5em;
    float: left;
}

nav ul li {
    list-style: none;
    background-color: #424242;
    width: 12.5em;
    margin-left: 0em;
}

nav ul li span {
    padding: 1em 1.5em;
    float: left;  
}

nav ul li #span_home {
    background: url(../img/home.PNG) no-repeat center; 
    background-size: 1.7em;
}

nav ul li #span_dashboard {
    background: url(../img/dashboard.PNG) no-repeat center;
    background-size: 1.7em;
}

nav ul li #span_register {
    background: url(../img/register.PNG) no-repeat center;
    background-size: 1.7em;
}   
 
nav ul li #span_definitions {
    background: url(../img/definitions.PNG) no-repeat center;
    background-size: 1.7em;
}

nav ul li a {
    display: block;
    padding: 0.33em;
    padding-left: 0em;
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
}

nav ul li a:hover {
    background: #555555;
}

nav ul li ul a {
    display: none;
    color: #b9bcbd;
    background: #333333; 
    font-size: 0.875em;
    font-weight: normal;
}

/*FORMATAÇÃO DA BARRA HORIZONTAL*/
.barra_horizontal {
	z-index: -11;
	background-color: rgb(243, 243, 243);
	/*border-bottom-width: 0.7em;
	border-bottom-style: solid;*/
    border-bottom-color:#dddcdc;
    box-shadow: 0px 0px 5px;
	margin-left: 12.5em;
    position: fixed;
    height: 5.4em;
    width: 100%; /*ajusta automaticamente à largura da página*/
}

#logo_pagina {
    z-index: 2;
    margin-top: 0.2em;
    margin-left: 0.5em;
    width: 2.8em;
    height: auto;
}

#nome_pagina {
    font-size: 2.8em;
    font-weight: bold;
    margin-top: -1.3cm;
	padding-left: 4.5%;
    color: #424242;
    outline: none;
}

#descricao_nome_pagina {
    font-size: 1.8em;
    margin-top: -0.3cm;
	padding-left: 0.7%;
    color: #424242;
    outline: none;
}

/*FORMATAÇÃO DA TELA INICIAL DE CADA CATEGORIA*/
#logo_principal_menu {
    z-index: -2;
    width: 15cm;
    height: auto;
    margin-top: 2%;
    margin-left: 34%;
    opacity: 0.1;
	-moz-opacity: 0.1;
	filter: alpha(opacity=1);
}

/*FORMATAÇÃO DA IMAGEM ESTÁTICA DO PAINEL E DO GRÁFICO*/
.img_dashboard {
    z-index: 1;
    /*width: 25cm;
    height: auto;*/
    margin-top: 4%;
    margin-left: 18%;
    opacity: 1;
	-moz-opacity: 1;
	filter: alpha(opacity=10);
}

#img_dashboard_painel {
    width: 25cm;
    height: auto;
}

#img_dashboard_graficos {
    width: 25cm;
    height: auto;
}

/*FORMATAÇÃO DA TELA DE CADASTRO E ALTERAÇÃO DE USUARIO*/
.register-user-box {
	width: 10.61cm;
	height: 11.5cm;
	background-color: #fdfdfd;
	position: absolute;
	margin: 7% 38% 0%; /* primeiro (140px): margem de cima para baixo, auto: ajusta no centro e último (0px) elimina margem abaixo */ 
	border-radius: 2px;
    box-shadow: 0px 0px 7px;
	overflow: hidden; /* qualquer objeto que estiver dentro não vai aparecer seus excessos*/
}

#user_update_form {
	box-shadow: 0px 0px 0px;
}

#botao-cancelar {
    background-color: rgba(236, 10, 10, 0.897);
    border-width: 2px;
    border-style: solid;
    border-top-color: #dbd9d9;
    border-left-color: #dbd9d9;
    border-right-color: #8d8c8c;
    border-bottom-color: #8d8c8c;
}

/*FORMATAÇÃO DA TELA DE LOGIN*/
#login-box {
	width: 10.61cm;
	height: 8.68cm;
	background-color: #fdfdfd;
	position: absolute;
	margin: 10% 38% 0%; /* primeiro (140px): margem de cima para baixo, auto: ajusta no centro e último (0px) elimina margem abaixo */ 
	border-radius: 2px;
	box-shadow: 0px 0px 7px;
	overflow: hidden; /* qualquer objeto que estiver dentro não vai aparecer seus excessos*/
}

#input-email { /*Ajusta a altura extra do primeira div (E-mail)*/
    margin: 0.99cm auto 0cm; 
}

.input-div input {
    margin: 0.57cm 1.80cm 0px;
    background-color: #F2F2F2;
	width: 7.01cm;
	height: 0.8cm;
    padding-left: 5px;
    font-size: 14px;
	color: #132574d2;
	border: 1px solid #989a9b;
	outline: none;
}

.input-div select {
    margin: 0.57cm 1.80cm 0px;
    background-color: #F2F2F2;
	width: 7.01cm;
	height: 0.8cm;
    padding-left: 5px;
    font-size: 14px;
	color: #132574d2;
	border: 1px solid #989a9b;
	outline: none;
}

.botoes {
    margin: 0.57cm 1.80cm 0px;
    background-color: #F2F2F2;
	width: 7.01cm;
    height: 1.1cm;
    color: white;
    display: -webkit-flex; /*Centralização de texto na div: INÍCIO*/
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center; /*Centralização de texto na div: FIM*/
    font-size: 14px;
    font-weight: bolder;
	/*border-radius: 3px;*/
	outline: none;
}

#botao-login {
    background-color: rgba(22, 156, 56, 0.897);
}

#label-recuperar_senha {
    font-size: 14px;
    padding-top: 1.2em;
    color: rgb(49, 49, 49);
    outline: none;
}

#botao-cadastro {
    background-color: rgba(238, 122, 6, 0.829);
    width: 6.9cm;
    height: 1.02cm;
    border-width: 2px;
    border-style: solid;
    border-top-color: #dbd9d9;
    border-left-color: #dbd9d9;
    border-right-color: #8d8c8c;
    border-bottom-color: #8d8c8c;
}

#botao-enviar {
    background-color: rgba(22, 156, 56, 0.897);
}

/*FORMATAÇÃO DA TELA DE RECUPERAÇÃO DE SENHA*/
#recovery-box {
	width: 10.61cm;
	height: 5.4cm;
	background-color: #fdfdfd;
	position: absolute;
	margin: 12% 38% 0%; /* primeiro (140px): margem de cima para baixo, auto: ajusta no centro e último (0px) elimina margem abaixo */ 
	border-radius: 2px;
	box-shadow: 0px 0px 7px;
	overflow: hidden; /* qualquer objeto que estiver dentro não vai aparecer seus excessos*/
}

#botao-enviar {
    background-color: rgba(22, 156, 56, 0.897);
}

/*FORMATAÇÃO DA TELA DE ERROS*/
.div_view_erros {
    margin: 3em 17em; /* primeiro (140px): margem de cima para baixo, auto: ajusta no centro e último (0px) elimina margem abaixo */ 
    width: 45em;
    height: auto;
    font-size: 1.2em;
	position: absolute;
	overflow: hidden; /* qualquer objeto que estiver dentro não vai aparecer seus excessos*/
}

#img_error {
    width: 4.5em;
    height: auto;
    padding-left: 20em; 
}
.div_view_erros p {
    color: white;
}

#title_error {
    font-size: 1.5em;
    font-weight: bold;
}

#div_div_view_erros {
    /*background-color: rgb(105, 103, 103);*/
    color: rgb(19, 19, 19);
    font-weight: bold;
    /*text-align: center;*/
    padding: 1em;
    /*padding-bottom: 1em;
    padding-left: 1.7em;
    padding-right: 1.7em;*/
    /*border-radius: 0.3em;*/
    margin-left: 0.8em;
    margin-right: 0.8em;
    -webkit-box-shadow: 0px 0px 10px 1px rgb(150, 150, 150);
    -moz-box-shadow: 0px 0px 10px 1px rgb(150, 150, 150);
    box-shadow: 0px 0px 10px 1px rgb(150, 150, 150);
}

/*FORMATAÇÃO DA DIV COM TABELAS DAS ÁREAS DE CADASTRO (LOGADO)*/
.container {
    z-index: 0;
    padding-top: 6.5%;
    padding-left: 14.6%;
    padding-right: 1%;
    /*background: #1e94d8;*/
    position: fixed;
}

.form_page_box {
    padding-top: 0.6em;
    padding-left: 0.75em;
    padding-right: auto;
    width: 60em;
    height: auto;
    /*background-color: #f75a5a;*/
    position: absolute;
    /*margin: 0px 0px 0px;*/
    overflow: hidden;   
}

.control-group span {
    background-color: none;
    font-size: 13px;
}

.input_div_cad {    
    background-color: #F2F2F2;
    height: 0.8cm;
    padding-left: 0.3em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    font-size: 14px;
    color: #132574d2;
    border: 1px solid #989a9b;
    outline: none;
}

/*FORMATAÇÃO DA BARRA DO CRUD NAS TELAS DE CADASTRO*/
.crud_div {
    padding: 0px 0px 5px 0px;
    background-color: none;
}

#crud_cadastrar {
    height: auto;
}

#crud_consultar {
    padding-top: 2.5em;
    height: auto;
}

.botoes_crud {
    width: 2.59cm;
    height: 0.98cm;
    border-radius: 7px;
    color: white;
    font-size: 14px;
    font-weight: bolder;
    outline: none;
    border-width: solid 1px;
}

.botoes_crud[type=submit] {
    background-color: rgb(23, 158, 113);
}

.botoes_crud[type=reset] {
    background-color: rgb(127, 127, 127);
}

#search-button {
    width: 0.8cm;
    height: 0.8cm;
}

#search {
    width: 8cm;
    height: 0.8cm;            
    background-color: white;
    margin-left: 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 0.9em;
    color: #132574d2;
    border: 1px solid #989a9b;
    outline: none;    
}

/*FORMATAÇÃO DO FORM DOS CADASTROS*/
#estado {
    width: 8cm;            
}

#sigla {
    width: 1.5cm;
}

#regiao {
    width: 8cm;            
}

#municipio {
    width: 8cm;
}

#select_regiao {
    width: 8cm;
}

#segmento {
    width: 5cm;
}

#unid_medida {
    width: 3.5cm;
}

#qt_area {
    width: 2.5cm;
}

#mkt_share_desej {
    width: 2.8cm;
}

#grupo_produtos {
    width: 7cm;
}

#classe {
    width: 2cm;
}

#percent_mkt_share {
    width: 2cm;
}

/*FORMATAÇÃO DA DIV QUE CONTÊM A TABELA NA ÁREA DE CADASTRO*/

/*table tbody,
table thead {
  display: block;
  width: auto;
}

table tbody {
    overflow: auto;
    height: 23.2em;
}

.sticky-wrap {
    overflow-x: auto;
    position: relative;
    margin-bottom: 2.5em;
    width: 100%;
}*/

.div_table {
    width: 60em;
    height: auto;
    padding-left: 12.5em;
    padding-right: 1em;
    /*background-color: #1e94d8;*/
}

#div_table {
    padding-top: 2em;
}

#div_table_user {
    padding-top: 3.2em;
}

/*FORMATAÇÃO DA TABELA DE CADASTRO*/
table {
    margin: none;
    padding: none;   
}

table.tabela_cadastros {
    margin: 0.7em;
    margin-top: 9.4em;
    text-align: center;
    border-collapse: collapse;   
}

.tabela_cadastros th {
    padding: 0.35em;
    background-color: rgb(217, 228, 233);
    border: 0.1em solid rgb(206, 205, 205);
}

.tabela_cadastros td {
    padding: 0.35em;
    border: 0.1em solid rgb(206, 205, 205); 
}

td.td_id {
    background-color: rgb(240, 241, 241);
}

.td_edit {
    background-color: rgb(45, 133, 206);
}

.td_clear {
    background-color: rgb(212, 10, 10);
}

.img_table_ed_cl {
    border-style: none;
    height: 1.6em;
    width: auto;            
}

/*FORMATAÇÃO DA JANELA MODAL*/
.modal-window {
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    display: none;
}

.modal-window:target {
    display: block;
}

/*MODAL BOX COM FORM DE 1 INPUT*/
.modal-box-1 {
    width: 10.61cm;
    position: absolute;
    margin-left: -260px;
    left: 55%;
    top: 17%;
}

.user-crud-box-1 {
	width: 10.61cm;
	height: 7.43cm;
	background-color: #fdfdfd;
	position: absolute;
	margin: 8% 0% 0%; /* primeiro (140px): margem de cima para baixo, auto: ajusta no centro e último (0px) elimina margem abaixo */ 
	border-radius: 2px;
	box-shadow: 0px 0px 7px;
	overflow: hidden; /* qualquer objeto que estiver dentro não vai aparecer seus excessos*/
}

/*MODAL BOX COM FORM DE 2 INPUTS*/
.modal-box-2 {
    width: 10.61cm;
    position: absolute;
    margin-left: -260px;
    left: 55%;
    top: 14%;
}

.user-crud-box-2 {
	width: 10.61cm;
	height: 8.65cm;  /* + 1.37 para cada input em relação .modal-box-1*/
	background-color: #fdfdfd;
	position: absolute;
	margin: 8% 0% 0%; /* primeiro (140px): margem de cima para baixo, auto: ajusta no centro e último (0px) elimina margem abaixo */ 
	border-radius: 2px;
	box-shadow: 0px 0px 7px;
	overflow: hidden; /* qualquer objeto que estiver dentro não vai aparecer seus excessos*/
}

/*MODAL BOX COM FORM DE 3 INPUTS*/
.modal-box-3 {
    width: 10.61cm;
    position: absolute;
    margin-left: -260px;
    left: 55%;
    top: 10%;
}

.user-crud-box-3 {
	width: 10.61cm;
	height: 10.02cm;  /* + 1.37 para cada input em relação .modal-box-1*/
	background-color: #fdfdfd;
	position: absolute;
	margin: 8% 0% 0%; /* primeiro (140px): margem de cima para baixo, auto: ajusta no centro e último (0px) elimina margem abaixo */ 
	border-radius: 2px;
	box-shadow: 0px 0px 7px;
	overflow: hidden; /* qualquer objeto que estiver dentro não vai aparecer seus excessos*/
}

/*MODAL BOX COM FORM DE 4 INPUTS*/
.modal-box-4 {
    width: 10.61cm;
    position: absolute;
    margin-left: -260px;
    left: 55%;
    top: 7%; 
}

.user-crud-box-4 {
	width: 10.61cm;
	height: 11.39cm;  /* + 1.37 para cada input em relação .modal-box-1*/
	background-color: #fdfdfd;
	position: absolute;
	margin: 8% 0% 0%; /* primeiro (140px): margem de cima para baixo, auto: ajusta no centro e último (0px) elimina margem abaixo */ 
	border-radius: 2px;
	box-shadow: 0px 0px 7px;
	overflow: hidden; /* qualquer objeto que estiver dentro não vai aparecer seus excessos*/
}

/*MODAL BOX COM FORM DE 5 INPUTS*/
.modal-box-5 {
    width: 10.61cm;
    position: absolute;
    margin-left: -260px;
    left: 55%;
    top: 3%;
}

.user-crud-box-5 {
	width: 10.61cm;
	height: 12.76cm;  /* + 1.37 para cada input em relação .modal-box-1*/
	background-color: #fdfdfd;
	position: absolute;
	margin: 8% 0% 0%; /* primeiro (140px): margem de cima para baixo, auto: ajusta no centro e último (0px) elimina margem abaixo */ 
	border-radius: 2px;
	box-shadow: 0px 0px 7px;
	overflow: hidden; /* qualquer objeto que estiver dentro não vai aparecer seus excessos*/
}

/*MODAL BOX COM FORM DE 6 INPUTS*/
.modal-box-6 {
    width: 10.61cm;
    position: absolute;
    margin-left: -260px;
    left: 55%;
    top: 0%;
}

.user-crud-box-6 {
	width: 10.61cm;
	height: 14.13cm;  /* + 1.37 para cada input em relação .modal-box-1*/
	background-color: #fdfdfd;
	position: absolute;
	margin: 8% 0% 0%; /* primeiro (140px): margem de cima para baixo, auto: ajusta no centro e último (0px) elimina margem abaixo */ 
	border-radius: 2px;
	box-shadow: 0px 0px 7px;
	overflow: hidden; /* qualquer objeto que estiver dentro não vai aparecer seus excessos*/
}

#close {
    color: #fff;
    text-decoration: none;
    font-size: 21px;
    position: absolute;
    background: #000;
    width: 0.7cm;
    height: 0.7cm;
    text-align: center;
    right: 0.07cm;
    top: 0.9cm;
    /*border: solid white;*/
}

/*#close:hover {
    opacity: 0.6;
}*/

/*FORMATAÇÃO DO RODAPÉ PADRÃO*/
#rodape > div {
    z-index: -1;
    background-color: #989a9b;
	position: fixed;
    margin: center;
	overflow: hidden;
	color:#D8D8D8;
    bottom: 0;
    margin-left: 5%;
	font-size: 16px;
	text-align: center;
	height: auto;
	width: 100%;
}
